$jumbotron-bg: rgba(53,148,220,.1);
// img-url(images/stream) 0 0 no-repeat;

@import 'bootstrap';

.logo-bg {
	background: url(stream.svg) center no-repeat;
	background-color: rgba(53,148,220,.2);
}
.btn-primary {
	background-color: #fef9e7;
	border-color: #fbf0c0;
	color: #2980b9;
}
.btn-lg {border-radius: 50px}
.jumbotron p {color: #2c3e50; font-weight: 400;}
.jumbotron h1 {
	color: #2c3e50; 
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-weight: 700;
}

